{% extends 'layout/layout.html' %}

{% block title %}
Maksud's World - 404
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/404.css" type="text/css" />
{% endblock %}

{% block contents %}
<div class="container_16">
    <div class="grid_16">
        <div class="my404">
            <span class="heading">*404*</span>
            <span class="explanation">Sorry, could not find the page you are looking for.</span>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}