{% extends 'layout/layout.html' %}

{% block title %}
Maksud's World
{% endblock %}

{% block contents %}

<div id="index_page" class="container_16">
    <div class="grid_12">
        <div id="home_description_text">
Mobile            Me
        </div>
        
    </div><!-- #featured -->
    <div class="grid_4">
        <div id="home_web_links">
            <div>

                <div class="cta_item">
                    <h3>Links</h3>
                    <ul class="mini_groups">
                        <li><a class="recent_title" rel="external" href="http://twitter.com/maksudulalam"><img class="link_icon" src="/images/twitter_16.png"> Twitter</a></li>
                        <li><a class="recent_title" rel="external" href="http://bd.linkedin.com/in/maksudulalam"><img class="link_icon" src="/images/linkedin_16.png"> LinkedIn</a></li>
                        <li><a class="recent_title" rel="external" href="http://www.facebook.com/maksudul.alam"><img class="link_icon" src="/images/facebook_16.png"> Facebook</a></li>
                    </ul>
                </div>

            </div>
            
        </div>
    </div>
    <div class="clear"></div>
</div>


{% endblock %}