{% extends 'layout/layout.html' %}
{% load uni_form_tags %}

{% block title %}
Maksud's World - Biography
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/css/uni.form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="/css/uni.form/default.uni-form.css" type="text/css" />
{% endblock %}

{% block js %}
<script src="/js/uni-form.jquery.js" type="text/javascript"></script>
{% endblock %}

{% block contents %}
<div class="container_16">
    <div class="grid_16">
        Your message posted successfully.
    </div>
<div class="clear"> </div>
</div>
{% endblock %}