{% extends 'layout/admin-layout.html' %}
{% load crispy_forms_tags %}
{% load maxhelper_filter %}


{% block title %}
Maksud's World - Dynamic Text Files
{% endblock %}


{% block css %}
<link rel="stylesheet" href="/css/uni.form/uni-form.css" type="text/css" />
<link rel="stylesheet" href="/css/uni.form/default.uni-form.css" type="text/css" />
<link rel="stylesheet" href="/css/documents.css" type="text/css" />
{% endblock %}

{% block js %}
<script src="/js/uni-form.jquery.js" type="text/javascript"></script>
{% endblock %}

{% block contents %}
<div class="container_16">
     <div class="grid_16">
        <h3>DynaText Management</h3>
        <form method="POST" action="{% url admin_dynafile_update %}" enctype="multipart/form-data" class="uniForm">
            <fieldset class="inlineLabels">
                {% csrf_token %}
                {{ textForm|crispy }}
                <div class="form_block">
                    <div class="block-submit">
                        <input  class="fat-blue" type="submit" value="Submit" />
                    </div>
                    <div class="clear" ></div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="grid_16">
        <h3>Upload new text file</h3>
        <form method="POST" action="{% url admin_dynafile_upload %}" enctype="multipart/form-data" class="uniForm">
            <fieldset class="inlineLabels">
                {% csrf_token %}
                {{ uploadForm|crispy }}
                <div class="form_block">
                    <div class="block-submit">
                        <input  class="fat-blue" type="submit" value="Submit" />
                    </div>
                    <div class="clear" ></div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="wrap" class="grid_16">

        <div id="main">
            {% if dynafiles %}
            <h3>Dynamic Text Files</h3>
            <table cellspacing="0" class="data users-table">
                <tbody>
                    <tr>
                        <th class="list-title">Document</th>
                        <th class="list-title">Type</th>
                        <th class="num">View</th>                                             
                    </tr>
                    {% for field in dynafiles %}
                    <tr>
                        <td class="user">
                            <h4 class="vcard">
                                <a title="{{field.name}}" rel="contact" class="url" href="{% url admin_dynafile_update %}?id={{field.id}}"><img src="/images/icons/file.png" class="photo fn" alt="{{field.name}}">{{field.name}}</a>
                            </h4>
                        </td>
                        <td class="list-title follows">{{field.content_type}}</td>
                        <td class="num follows">
                            <h4 class="vcard">
                                <a title="{{field.name}}" rel="contact" class="url" href="/dynafile/{{field.name}}">View</a>
                            </h4>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}